$primaryColor: #ff0000;
$secondaryColor: #c71919;
$primaryBgColor: #151515;
$secondaryBgColor: #141414;
$primaryFontColor: #ffffff;
$secondaryFontColor: #9c9999;
$subtitle:hsl(0, 29%, 92%);
$ratings: gold;
$fancyColor: #f36f22;
$primaryGradient: linear-gradient(to bottom, #f00c0c, #8f7373);
$primaryGradient: linear-gradient(to bottom, #f0d90c, #151515);